<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<link rel="stylesheet" href="./style.css">
</head>
<body>
	<div id="outer">
		<div class="head">天知道</div>
		<div class="search">
			<input type="text" v-model="city" @keyup.enter="searchWeather" class="input_txt" placeholder="请输入要查询的城市">
			<button class="input_sub" @click="searchWeather">搜索</button>
		</div>
		<div class="city">
			<a href="javascript:;" @click="changeCity('北京')">北京</a><!-- href中的内容不可少 -->
			<a href="javascript:;" @click="changeCity('上海')">上海</a>
			<a href="javascript:;" @click="changeCity('广州')">广州</a>
			<a href="javascript:;" @click="changeCity('深圳')">深圳</a>
			<a href="javascript:;" @click="changeCity('杭州')">杭州</a>
		</div>
		<div class="output" >
			<div class="module" v-for="item in weatherList">
				<div class="weather"><span v-cloak>{{item.type}}</span></div>
				<div class="temp"><b v-cloak>{{item.low}}~</b><b v-cloak>{{item.high}}</b></div>
				<div class="wind"><span v-cloak>{{item.fengxiang}}</span></div>
				<div class="date"><span v-cloak>{{item.date}}</span></div>
			</div>
			
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="./index.js"></script>
</body>
</html>