		*{
			margin:0;
			padding:0;
			box-sizing: border-box;
		}
		[v-cloak]{
			display: none;
		}
		#outer{
			width:700px;
			height:400px;
			background:radial-gradient(at center top,#2bae85,#66c18c);
			position: absolute;
			top: 50%;
			left:50%;
			transform: translate(-50%,-50%);
			border-radius: 10px;
			opacity: 0.7;
		}
		.head{
			margin-top: 20px;
			font-family: "宋体";
			font-weight: 800;
			position: relative;
			text-align: center;
			font-size: 60px;
			color:#141e1b;
			opacity: 0.9;
		}
		.search{
			width:700px;
			height: 70px;
			margin-top:30px;
			margin-left:150px;
		}
		.input_txt{
			width:300px;
			height: 40px;
			border-radius: 5px;
			font-size: 20px;
			border: 0px;
			outline: none;
		}
		.input_sub{
			width: 100px;
			height:40px;
			border-radius: 5px;
			outline: none;
			font-family: "黑体";
			font-size: 25px;
			cursor: pointer;
		}
		.city{
			position: relative;
			margin-left: 150px;
			margin-top:-20px;
			
		}
		.city a{
			font-size: 18px;
			font-weight: 400;
			text-decoration: none;
			margin:5px;
		}
		.output{
			position: relative;
			width:700px;
			height:150px;
			margin-top:30px;
			display: flex;
			justify-content: space-around;
		}
		
		.output .module{
			width:140px;
			height:150px;
			/* background-color: #00007F; */
			border-right:1px white dotted ;
			display: grid;
			grid-template-areas:
			"weather"
			"temp"
			"wind"
			"date";
			grid-template-rows: 1.5fr 1fr 1fr 1fr;
			text-align: center;
		}
		.output .module:last-of-type{
			border: none;
		}
		
		.output .weather{
			font-size: 30px;
			color:#eef7f2;
			font-family: "仿宋";
			font-weight: 700;
		}
		.output .temp{
			font-size: 12px;
			color: #15231b;
		}
		.output .wind{
			font-size: 15px;
		}
		.output .date{
			font-size: 15px;
			color: #181818;
		}